@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "opensans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "opensans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "opensans";
  src: url("../fonts/opensanssemibold.woff2") format("woff2"), url("../fonts/opensanssemibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@media (min-width: 320px) {
  .navigation__inner {
    min-width: 320px;
    max-width: 768p;
    margin: 0 auto;
  }
  .navigation__img-cross {
    display: none;
  }
  .navigation__menu-toggle {
    display: none;
  }
  .navigation__menu-toggle:checked ~ .navigation__list .navigation__img-toggle .navigation__img-burger {
    display: none;
  }
  .navigation__menu-toggle:checked ~ .navigation__list .navigation__img-toggle .navigation__img-cross {
    display: block;
  }
  .navigation__menu-toggle:checked ~ .navigation__list .navigation__item:not(:first-child) {
    transform: translateY(0);
  }
  .navigation__menu-toggle:checked ~ .navigation__list .navigation__item:first-child {
    background-color: #283645;
  }
  .navigation__img-burger,
  .navigation__img-cross,
  .navigation__logo-mobile {
    fill: #fff;
  }
  .navigation__img-burger:active,
  .navigation__img-cross:active,
  .navigation__logo-mobile:active {
    opacity: 0.3;
    fill: #d22856;
  }
  .navigation__img-burger:hover,
  .navigation__img-cross:hover,
  .navigation__logo-mobile:hover {
    fill: #d22856;
  }
  .navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    width: 100%;
  }
  .navigation__img-toggle {
    position: absolute;
    right: 19px;
    top: 21px;
  }
  .navigation__item {
    box-sizing: border-box;
    min-height: 63px;
    box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
    margin-bottom: 1px;
    text-align: center;
    position: relative;
    background-color: #283645;
  }
  .navigation__item:first-child {
    height: 69px;
    text-align: left;
    position: relative;
    padding-top: 5px;
    padding-left: 19px;
    width: 100%;
    top: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .navigation__item:not(:first-child) {
    transform: translateY(-330px);
    transition: all 0.2s;
    z-index: 0;
  }
  .navigation__link {
    display: block;
    color: #ffffff;
    font-family: "opensans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 63px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #283645;
  }
  .navigation__link--top {
    display: inline;
    background-color: transparent;
  }
  .navigation__link:not(.navigation__link--top):active {
    color: #d22856;
    opacity: 0.3;
    background-color: #0c1015;
  }
  .navigation__link:not(.navigation__link--top):hover {
    color: #d22856;
  }
}
@media (min-width: 320px) {
  .features__inner {
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
  }
  .features__title {
    padding: 0;
    padding-left: 58px;
    padding-right: 60px;
    margin: 0;
    margin-top: 41px;
    text-align: center;
    min-height: 139px;
    color: #283645;
    font-family: "opensans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
  }
  .features__title span:first-child {
    display: block;
    margin-bottom: 28px;
  }
  .features__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 42px;
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    background-image: url("../img/Shape_2.svg");
    background-repeat: no-repeat;
    background-size: 1171px 828px;
    background-position: center -11px;
  }
  .features__item {
    margin-bottom: 13px;
  }
  .features__item:last-child {
    background-image: url("../img/iphone_screen3.png");
    background-position: center 167px;
    background-size: 157px 320px;
    background-repeat: no-repeat;
    min-height: 444px;
    margin-bottom: 0;
  }
  .features__item-title {
    font-family: "opensans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    text-align: center;
    margin-bottom: 12px;
  }
  .features__item-text {
    padding: 0;
    margin: 0;
    padding-left: 27px;
    padding-right: 27px;
    text-align: center;
    font-family: "opensans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }
}
@media (min-width: 320px) {
  .header {
    position: relative;
    z-index: 2;
    background-color: #1d2631;
  }
}
@media (min-width: 320px) {
  .content {
    position: relative;
    z-index: 1;
  }
  .content::before {
    content: "";
    background-color: #2c3949;
    width: 100%;
    top: -67px;
    height: 733px;
    position: absolute;
    background-image: url("../img/back-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 729px;
    background-position: center 0;
    z-index: -1;
  }
  .content--photo::before {
    height: 304px;
  }
}
@media (min-width: 320px) {
  .title {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 300;
    font-size: 24px;
    font-family: "Open Sans";
    text-align: center;
  }
  .title--index {
    display: none;
  }
  .title--photo {
    margin: 0 auto;
    width: 168px;
    padding-top: 98px;
  }
}
@media (min-width: 320px) {
  .subtitle {
    margin: 0;
    padding: 0;
    color: #283645;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
  .subtitle--photo {
    margin-top: 130px;
    padding: 0 34px 49px;
  }
  .subtitle--photo-bottom {
    margin-top: 45px;
  }
}
@media (min-width: 320px) {
  .button {
    font-family: "opensans", "Arial", sans-serif;
    font-weight: 700;
    border-radius: 27px;
    border: 3px solid #fff;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    text-align: center;
  }
}
@media (min-width: 320px) {
  .intro {
    position: relative;
  }
  .intro__inner {
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
  }
  .intro__phone {
    position: relative;
    display: block;
    min-height: 395px;
    overflow: hidden;
    margin: 0 auto;
    width: 320px;
  }
  .intro__iphone-img {
    position: absolute;
    top: 109px;
    left: -167px;
    z-index: 10;
  }
  .intro__screen-img {
    position: absolute;
    top: 142px;
    left: 104px;
    z-index: 5;
  }
  .intro__button {
    width: 281px;
    height: 55px;
    color: #ffffff;
    font-size: 18px;
    line-height: 49px;
    margin: 0 auto;
    margin-top: 0px;
  }
  .intro__button:hover {
    color: #d22856;
    background-color: #fff;
  }
  .intro__button:active {
    color: rgba(210, 40, 86, 0.3);
  }
  .intro__os {
    display: flex;
    width: 205px;
    min-height: 56px;
    margin: 0 auto;
    margin-top: 29px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
  }
  .intro__os-img--apple {
    width: 47px;
    height: 56px;
  }
  .intro__os-img--android {
    width: 43px;
    height: 47px;
  }
  .intro__os-img--windows {
    width: 44px;
    height: 41px;
  }
  .intro__text {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    width: 100%;
    color: #ffffff;
    font-family: "opensans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    display: block;
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
    text-align: center;
  }
  .intro__container {
    background-color: #1d2631;
    padding-top: 29px;
    min-height: 242px;
  }
}
@media (min-width: 320px) {
  .cloaks {
    display: none;
  }
}
@media (min-width: 320px) {
  .gallery__list {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 360px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .gallery__item {
    padding-top: 21px;
  }
  .gallery__img-container {
    margin: 0 auto;
    width: 280px;
  }
  .gallery__img {
    display: block;
  }
}
@media (min-width: 320px) {
  .panorama {
    padding: 0;
    margin: 0;
  }
  .panorama__photo-container {
    width: 320px;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  .panorama__photo-container::before {
    content: "панорама дня";
    position: absolute;
    top: 0;
    right: 20px;
    width: 140px;
    height: 36px;
    background-color: #d22856;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 12px;
  }
  .panorama__img {
    display: block;
  }
}
@media (min-width: 320px) {
  .reviews__inner {
    box-sizing: border-box;
    padding-left: 22px;
    padding-right: 22px;
    min-width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .reviews__radio {
    display: none;
  }
  .reviews__switcher {
    display: none;
  }
  .reviews__container {
    display: none;
  }
  .reviews__text {
    color: #283645;
    font-family: "opensans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 32px;
  }
  .reviews__author-about {
    display: none;
  }
  .reviews__author-name {
    color: #000000;
    font-family: "opensans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }
  .reviews__toggles {
    width: 60px;
    margin: 0 auto;
  }
}
@media (min-width: 320px) {
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}
@media (min-width: 320px) {
  .tariff {
    background-image: url("../img/Shape_2.svg");
    background-repeat: no-repeat;
    background-size: 1171px 828px;
    background-position: center -11px;
    min-height: 493px;
  }
  .tariff__inner {
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tariff__radio {
    display: none;
  }
  .tariff__table {
    width: 828px;
    border-spacing: 0;
    box-sizing: border-box;
    padding-top: 113px;
    transition: 0.3s;
    margin: auto 0;
  }
  .tariff__table-header {
    box-sizing: border-box;
    width: 276px;
    height: 98px;
    outline: 1px solid #e5e5e5;
    background-color: #283645;
    color: #ffffff;
    font-family: "opensans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }
  .tariff__table-header:first-child {
    display: none;
  }
  .tariff__table-header span:nth-child(2) {
    font-family: "opensans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
    display: block;
  }
  .tariff__table-cell {
    width: 276px;
    height: 59px;
    border: 1px solid #e5e5e5;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .tariff__table-cell:first-child {
    display: none;
  }
  .tariff__feature-filter::before,
  .tariff__feature-smile::before,
  .tariff__feature-commentaries::before {
    content: "розовый фильтр";
    color: #283645;
    font-family: "opensans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    padding-left: 24px;
  }
  .tariff__feature-smile::before {
    content: "смайлики";
  }
  .tariff__feature-commentaries::before {
    content: "комментарии";
  }
  .tariff__feature-filter::after,
  .tariff__feature-smile::after,
  .tariff__feature-commentaries::after {
    content: "";
    background-image: url("../img/yes.svg");
    background-repeat: no-repeat;
    background-size: 31px 21px;
    position: absolute;
    width: 31px;
    height: 21px;
    right: 17px;
    top: 19px;
  }
  .tariff__feature-smile:nth-child(2)::after,
  .tariff__feature-commentaries:nth-child(2)::after,
  .tariff__feature-commentaries:nth-child(3)::after {
    content: "";
    background-image: url("../img/no.svg");
    background-size: 27px 26px;
    width: 27px;
    height: 26px;
    right: 19px;
    top: 18px;
  }
  .tariff__toggles {
    width: 60px;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (min-width: 320px) {
  .toggles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .toggles__bullet {
    width: 6px;
    height: 6px;
    background: #bec3c7;
    border: 3px solid #fff;
    display: block;
    border-radius: 50%;
  }
  #reviews-btn-1:checked ~ .reviews__toggles .toggles__bullet[for="reviews-btn-1"],
  #reviews-btn-3:checked ~ .reviews__toggles .toggles__bullet[for="reviews-btn-3"],
  #reviews-btn-2:checked ~ .reviews__toggles .toggles__bullet[for="reviews-btn-2"] {
    border: 3px solid #283645;
  }
  #reviews-btn-1:checked ~ .reviews__container--1,
  #reviews-btn-2:checked ~ .reviews__container--2,
  #reviews-btn-3:checked ~ .reviews__container--3 {
    display: flex;
    flex-direction: column-reverse;
  }
  #tariff-btn-1:checked ~ .tariff__toggles .toggles__bullet[for="tariff-btn-1"],
  #tariff-btn-2:checked ~ .tariff__toggles .toggles__bullet[for="tariff-btn-2"],
  #tariff-btn-3:checked ~ .tariff__toggles .toggles__bullet[for="tariff-btn-3"] {
    border: 3px solid #283645;
  }
  #tariff-btn-1:checked ~ .tariff__table {
    transform: translateX(277px);
  }
  #tariff-btn-2:checked ~ .tariff__table {
    transform: translateX(0px);
  }
  #tariff-btn-3:checked ~ .tariff__table {
    transform: translateX(-277px);
  }
}
@media (min-width: 320px) {
  .like {
    padding: 0 20px;
    order: 1;
    margin-bottom: 19px;
  }
  .like__icon {
    fill: #d22856;
    padding-right: 12px;
  }
  .like__text,
  .like__counter {
    width: 88px;
    height: 9px;
    color: #d22856;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }
}
@media (min-width: 320px) {
  .subscription {
    box-sizing: border-box;
    padding: 0 20px;
    background-color: #f2f2f2;
    background-clip: content-box;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 0 auto;
  }
  .subscription__container {
    padding: 18px 20px 0;
    order: -1;
  }
  .subscription__author {
    font-family: "opensans", "Arial", sans-serif;
    font-weight: 700;
    color: #283645;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  .subscription__time {
    font-family: "opensans", "Arial", sans-serif;
    font-weight: 300;
    color: #283645;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
  }
  .subscription__text {
    padding: 0px 13px 0 20px;
    margin: 0;
    margin-bottom: 9px;
    font-family: "opensans", "Arial", sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
    order: 0;
  }
}
@media (min-width: 320px) {
  .footer__contacts {
    padding: 0 20px;
    position: relative;
    padding-bottom: 23px;
  }
  .footer__links {
    display: none;
  }
}
@media (min-width: 320px) {
  .contacts__title {
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 36px;
    line-height: 29px;
    padding: 0;
    width: 219px;
    color: #283645;
    font-family: "opensans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
  }
  .contacts__list {
    padding: 0;
    margin: 0 auto;
    list-style: none;
  }
  .contacts__item span {
    color: #283645;
    font-family: "opensans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    display: block;
    margin: 0 auto;
    line-height: 18px;
  }
  .contacts__item p {
    padding: 0;
    margin: 0 auto;
    color: #d22856;
    font-family: "opensans", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
  }
}
@media (min-width: 320px) {
  .map__container {
    background-image: url("../img/map.jpg");
    background-size: 700px 848px;
    background-position: center 0;
    background-repeat: no-repeat;
    min-height: 300px;
    position: relative;
  }
  .map__img-triangle {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
  }
}
