@media (min-width:320px) {

	.features__inner {
		min-width: 320px;
		max-width: 768px;
		margin: 0 auto;
	}

	.features__title {
		padding: 0;
		padding-left: 58px;
		padding-right: 60px;
		margin: 0;
		margin-top: 41px;
		text-align: center;
		min-height: 139px;
		color: #283645;
		font-family: @opensans;
		font-size: 24px;
		font-weight: 300;
		line-height: 29px;

		span:first-child {
			display: block;
			margin-bottom: 28px;
		}
	}

	.features__list {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: 42px;
		padding-top: 95px;
		display: flex;
		flex-direction: column;
		background-image: url("../img/Shape_2.svg");
		background-repeat: no-repeat;
		background-size: 1171px 828px;
		background-position: center -11px;
	}

	.features__item {
		margin-bottom: 13px;

		&:last-child {
			background-image: url("../img/iphone_screen3.png");
			background-position: center 167px;
			background-size: 157px 320px;
			background-repeat: no-repeat;
			min-height: 444px;
			margin-bottom: 0;
		}
	}

	.features__item-title {
		font-family: @opensans;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		color: #000;
		text-align: center;
		margin-bottom: 12px;
	}

	.features__item-text {
		padding: 0;
		margin: 0;
		padding-left: 27px;
		padding-right: 27px;
		text-align: center;
		font-family: @opensans;
		font-size: 14px;
		line-height: 24px;
		color: #283645;
	}

}
