@media(min-width:320px) {
	.form__flex-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.form__fieldset {
		padding: 41px 22px 44px;
		margin: 0;
		border: none;
		position: relative;
	}

	.form__title {
		color: #d22856;
		font-family: @opensans;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		text-transform: uppercase;
		text-align: center;
		position: relative;
	}

	//NAME
	.form__name {
		border: none;
		padding: 0;
		margin: 0;
		padding-bottom: 44px;
	}

	.form__name-list {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.form__name-item {
		padding: 0 22px;
		margin: 0;
	}

	.form__name-label {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.form__name-text {
		display: block;
		color: #d22856;
		font-family: @opensans;
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		padding-left: 21px;
		text-transform: uppercase;
		padding-bottom: 5px;
	}

	//	APPS
	.form__apps {
		background-color: #f2f2f2;
	}

	.form__apps-list {}
}
