@media(min-width:320px) {
	.gallery__list {
		padding: 0;
		margin: 0;
		list-style: none;
		max-width: 360px;
		margin: 0 auto;
		box-sizing: border-box;
	}

	.gallery__item {
		padding-top: 21px;
	}

	.gallery__img-container {
		margin: 0 auto;
		width: 280px;
	}

	.gallery__img {
		display: block;
	}
}
