@media (min-width:320px) {
	.header {
		position: relative;
		z-index: 2;
		background-color: #1d2631;
	}

	.header__pink-logo-tablet {
		display: none;
	}
}

//TABLET----------------------------------------------------
@media(min-width:660px) {
	.header__pink-logo-tablet {
		width: 147px;
		height: 40px;
		fill: #fff;
		position: absolute;
		top: 27px;
		left: 20px;
		display: block;
	}
}
