@media(min-width:320px) {
	.map__container {
		background-image: url("../img/map.jpg");
		background-size: 700px 848px;
		background-position: center 0;
		background-repeat: no-repeat;
		min-height: 300px;
		padding: 0 20px;
	}
}
