@media (min-width:320px) {

	.toggles {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.toggles__bullet {
		width: 6px;
		height: 6px;
		background: #bec3c7;
		border: 3px solid #fff;
		display: block;
		border-radius: 50%;

		&:hover {
			background-color: #7e868f;
		}

		&:active {
			background-color: #eaebec;
		}
	}

	//	REVIEWS SLIDER
	#reviews-btn-1:checked ~ .reviews__toggles .toggles__bullet[for="reviews-btn-1"],
	#reviews-btn-3:checked ~ .reviews__toggles .toggles__bullet[for="reviews-btn-3"],
	#reviews-btn-2:checked ~ .reviews__toggles .toggles__bullet[for="reviews-btn-2"] {
		border: 3px solid #283645;
	}

	#reviews-btn-1:checked ~ .reviews__container--1,
	#reviews-btn-2:checked ~ .reviews__container--2,
	#reviews-btn-3:checked ~ .reviews__container--3 {
		display: flex;
		flex-direction: column-reverse;
	}

	//TARIFF SLIDER
	#tariff-btn-1:checked ~ .tariff__toggles .toggles__bullet[for="tariff-btn-1"],
	#tariff-btn-2:checked ~ .tariff__toggles .toggles__bullet[for="tariff-btn-2"],
	#tariff-btn-3:checked ~ .tariff__toggles .toggles__bullet[for="tariff-btn-3"] {
		border: 3px solid #283645;
	}

	#tariff-btn-1:checked ~ .tariff__table {
		transform: translateX(277px);
	}

	#tariff-btn-2:checked ~ .tariff__table {
		transform: translateX(0px);
	}

	#tariff-btn-3:checked ~ .tariff__table {
		transform: translateX(-277px);
	}

}
